<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Awesome Project</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">

<img src= " https://scontent-b-lhr.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10262119_703564969735360_5000929662450378247_n.jpg?oh=c3debaa85a4affb388be4cc7d944a847&oe=54DAE532" width="200" height="250" style="float:right;">
 
  <body style = "background-color:pink; font-size: 35px; text-align: left;">
    <h1> Yana Zlatin </h1>
        <div>
    <h4 id = "descrip" style="color: black; font-family: 'fantasy'; font-size: 25px; text-align: left;"> My name is Yana Zlatin. im 16 and i live in Rehovot. I study in Tel Aviv, in Shevach Mofet, 11 class, psycology major.
     I love pasta and potatoes and eating in general. 
     my favorite color is red (:            
     I love swiming, cooking, reading, dancing and listening to music. 
     I volunteer in the Ambulance. </h4>

    
   </div>
    <p>  </p>
    <a href=”http://   ”> </a>
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>